/* Reset */
html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,figure { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,strong,th { font-size: 1em; font-weight: normal; font-style: normal; }
fieldset,iframe,img { border: none; }
caption,th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
article, aside, footer, header, hgroup, nav, section, figure, figcaption { display: block; }
:focus { outline:0; }

/* Type */
body {
	font: 0.75em/1.5 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
	background-color: #fff;
	color: #493838;
}
a {
	color: #493838;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:focus {
	outline: none;
}
h1 {
	font-size: 2em;
}
h2 {
	color: #333;
	font-size: 1.25em;
	font-weight: bold;
}
h3 {
	font-size: 1.333em;
}
h4 {
	font-size: 1.167em;
}
h5 {
	font-size: 1em;
}
h6 {
	font-size: 0.833em;
}
p {
	font-size: 0.917em;
}
hr {
	border: 0 #ccc solid; border-top-width: 1px; clear:both; height: 0;
}
h1, h2, h3, h4, h5, h6, ol, dl, pre, table, address, fieldset, p, hr {
	margin-bottom: 20px;
}
strong {
	font-weight: bold;
}
#header a, #footer a {
	font-weight: normal;
}
#header {
	font-size: 0.917em
}
#footer {
	font-size: 0.833em;
}
a#copyright {
	cursor: default;
	text-decoration: none;
}
input {
	font-family: Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
}

/* Layout */
#home #main {
	min-width: 980px;
}

#logo {
	float: left;
	margin-top: 18px;
}

#logo a {
	display: block;
	width: 241px;
	height: 55px;
	/* height: 28px; */
	text-indent: -9999px;
	background: url(../images/global/logo.png) 0 0 no-repeat;
}

#utilities {
	float: right;
	width: 700px;
	margin-top: 38px;
	/* margin-top: 25px; */
	position: relative;
	z-index:0!important;
	display:block;
}

#account {
	float: right;
	text-align: right;
	width: 280px;
}

/* Search Utility */
#search {
	width: 160px;
}
#txtsearch {
	display: none;
}
#btngo {
	display: none;	
}
#search input {
	width: 130px;
	height: 18px;
	border: 1px solid #493838;
	background-color: #f3e4e9;
	position: absolute;
	left: 268px;
	top: -3px;;
}
#search a#btngo {
	width: 18px;
	height: 16px;
	color: #f3e4e9;
	background-color: #493838;
	border: 1px solid #493838;
	padding-left: 5px;
	padding-top: 2px;
	position: absolute;
	left: 400px;
	top: -3px;
}
#search a#btngo:hover {
	text-decoration: none;
}

#signup {
	float: left;
	width: 170px;
}

#header {
	height: 88px;
	/* height: 60px; */
	border-bottom: 1px solid #f3e4e9;
	z-index:1;
	display:block;
}

#footer {
	height: auto;
	border-top: 1px solid #d9cfcd;	
}

#signup input {
	width: 130px;
	height: 18px;
	border: 1px solid #493838;
	background-color: #f3e4e9;
	margin-top: 15px;
	float: left;
}

#signup a#go {
	display: block;
	width: 18px;
	height: 16px;
	color: #f3e4e9;
	background-color: #493838;
	border: 1px solid #493838;
	margin-top: 15px;
	float: left;
	padding-left: 5px;
	padding-top: 2px;
}

#signup a#go:hover {
	text-decoration: none;
}

#footerlinks {
	width: 650px;
	margin-top: 18px;
	margin-left: auto;
	margin-right: auto;
	text-align: center; 
}

#copyright {
	width: 135px;
	margin-top: 15px;
}

#footericons {
	float: right;
	width: 170px;
	margin-top: -30px;
	text-align: right;
}

#footericons a {
	display: inline-block;
	vertical-align: middle;
}


/* Home Full Screen Background */
#supersize {
	
}

#center_content {
position:relative;top:90px; width:100%; display:table; height:500px;
}

#supersize img {
    height:100%;
    position:absolute;
    width:100%;
    z-index:-1;
	display: none;
}
#home #banners {
	position: absolute;
	left: 3%;
	right: 3%;
	top:80%;
	min-width: 980px;
}

#home #header {
	position: absolute;
	left: 3%;
	right: 3%;
	min-width: 980px;
}


#home #footer {
	position: relative;
	left: 3%;
	width:94%;
	top: 82px;
	right: 3%;
}


#home #topnav ul {
	width: 90px;
	position: relative;
	left:3%;
	/*top: 98px;*/
	/* top: 70px; */
	list-style: none;
	z-index:1;
}
#topnav ul li {
	width: 100%;
	float: left;
}
#home #topnav ul li a {
	display: block;
	color: #827779;
	font-size: 1.167em;
	font-weight: normal;
}
#home #topnav ul li a:hover {
	color: #493838;
	text-decoration: none;
	background: url(../images/1px.gif);
	width: 100%;
	height: 100%;
}
#home #topnav ul ul {
	width: 120px;
	position: absolute;
	margin: 0;
	background-color: #977778;
	display: none;
}


#home #topnav ul ul.sub_shop {
	left: 90px;
	top: -6px;
}

#home #topnav ul ul.sub_whatsnew {
	left: 90px;
	top: 16px;
} 

#home #topnav ul ul.sub_about {
	left: 90px;
	top: 78px;
}

#home #topnav ul ul.sub_connect {
	left: 90px;
	top: 100px;
}

/* Topnav Cursor Style */
#home #topnav li.whatsnew a {
	cursor: default;
}
#home #topnav li.about a {
	cursor: default;
}
#home #topnav li.connect a {
	cursor: default;
}
#home #topnav ul ul.sub_whatsnew a {
	cursor: pointer;
} 
#home #topnav ul ul.sub_about a {
	cursor: pointer;
}
#home #topnav ul ul.sub_connect a {
	cursor: pointer;
}

#home #topnav ul ul li a {
	display: block;
	color: #f3e4e9;
	text-align: center;
	padding: 7px 0 5px 0;
	line-height: 1.25em;
}

#home #topnav ul ul li a:hover {
	color: #977778;
	background-color: #f3e4e9;
}

#home #topnav ul li:hover ul {
	display: block;
	z-index: 9999;
}

#home #banners {
	bottom: 65px;
}

#home #banner1, #home #banner2, #home #banner3 {
	width: 302px;
	height: 86px;
}

#home #banner1 {
	float: left;
}

#home #banner2 {
	margin: 0 auto;
}

#home #banner3 {
	float: right;
	margin-top: -86px;
}

#home #footer {
	bottom: 0;
}

/*	Search Form	*/
#txtsearch {
	display: none;
}
#btngo {
	display: none;	
}
.inputtext {
	font-size: 1em;
	background: none;
	border: 1px solid #ccc;
	height: 22px;
}

/* Banner Texts for SEO */
#home .homebgcontainer {
	position: relative;
}
#home .homebgcontainer a {
	display: block;
	text-indent: -9999px;
	min-width: 722px;
	min-height: 300px;
	position: fixed;
	top: 60px;
	left: 3%;
	right: 3%;
	bottom: 176px;
	margin-left: 228px;
    background-image:url(about:blank);
}
#home .homebgcontainer h1, #home .homebgcontainer p,
#home #banner1 h2, #home #banner2 h2, #home #banner3 h2,
#home #banner1 p, #home #banner2 p, #home #banner3 p {
	height:1px;
	text-indent:-9999px;
}